*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

body{
  background: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.contenedor{
  width: 90%;
  max-width: 900px;
  margin: 0px auto;
  overflow: hidden;
}

/*
HEADER*/

header{
  background: url('../img/portafolio/BG2.jpg') #212c30;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 600px;
}

header .menu{
  margin:40px 0;
  text-align: right;
}

header .menu a{
  margin:0 20px;
  color:#fff;
  padding-bottom: 9px;
  font-size: 1em;
  text-decoration: none;
  display: inline-block;
  border-bottom: 2px solid transparent;
}

header .menu a:hover{
  border-bottom:2px solid #fff;
}

header .contenedor-texto{
  display: flex;
  justify-content: center;
  align-content: center;
  margin:190px 0;
}

header .contenedor-texto .texto{
  border:2px solid rgba(255,255,255,0.5);
  border-radius: 3px;
  display:inline-block;
  text-align: center;
  padding: 20px 50px;
}

header .contenedor-texto .texto .nombre{
  font-size: 2.5em;
}

header .contenedor-texto .texto h1,
header .contenedor-texto .texto h2{
  color:#fff;
  /*en google fonts explica que 300 es el light, 400 el regular etc..*/
  font-weight: 300;
}

/*MAIN*/

.main .contenedor {
  /*contenedor ya tiene un overflow:hidden, pero nosotros le damos un visible SOLO
  para el .main */
  overflow: visible;
}

.main .acerca-de{
  text-align: center;
}

.main .acerca-de .foto{
  /*para que quede entre el header y el main*/
  margin-top: -120px;
}

.main .acerca-de .foto img{
  vertical-align: top;
  border-radius: 50%;
  border: 5px solid rgba(255,255,255,0.2);
  width: 230px;
}

.main .acerca-de .texto{
  color:#5a5a5a;
  font-weight: 600;
  font-size: 1em;
  line-height: 30px;
  margin:40px auto 60px auto;
  width: 80%;
}

.main .acerca-de .texto .titulo{
  font-size: 34px;
  margin-bottom: 40px;
  font-weight: 300;
  color:#dd820d;
  text-align: center;
}

/*bold son los elementos que tienen la etiqueta span*/
.main .acerca-de .texto .bold{
  color:#3895ea;
  text-decoration: underline;
}

.main .trabajos{
  background: #f2f2f2;
  padding: 60px auto;

}

.main .trabajos .contenedor{
  overflow: hidden;
}

.main .trabajos .titulo{
  font-size: 34px;
  margin-bottom: 40px;
  font-weight: 300;
  color:#323068;
  text-align: center;
  text-decoration: none;
}

.main .trabajos .contenedor-trabajos{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-decoration: none;
}

.main .trabajos .contenedor-trabajos .trabajo{
  /*23% permite tener 4 elementos en la fila*/
  width: 23%;
}

.main .trabajos .contenedor-trabajos .trabajo .thumb{
  width: 100%;
  margin-bottom: 10px;
}

.main .trabajos .contenedor-trabajos .trabajo .thumb img{
  
  width: 100%;
  vertical-align: top;
  border-radius: 3px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 1;
}


.main .trabajos .contenedor-trabajos .trabajo .thumb img:hover {
  opacity: 0.5;
}

.icons {
  margin-right: 10px;
  font-size: 1.2em;
}

.html5 {
  color: red;
}

.css3{
  color: #264de4;
}

.js{
  color: #F0DB4F;
}

.android{
  color: #32DE84;
}

.docker{
  color: #0db7ed;
}

.raspberry{
  color: #C51A4A;
}

.main .trabajos .contenedor-trabajos .trabajo .descripcion{
  text-align: center;
  margin: 5px 0 30px 0;
}

.main .trabajos .contenedor-trabajos .trabajo .descripcion .nombreProyecto{
  font-weight: 600;
  color:#3895ea;
  margin-bottom: 10px;
  text-decoration: none;
}

.main .trabajos .contenedor-trabajos .trabajo .descripcion .categoria{
  color:#636363;
}

/*FOOTER*/

footer .contacto {
padding: 60px 0;
}

footer .contacto .titulo{
  width: 100%;
  font-size: 34px;
  line-height: 34px;
  margin-bottom: 40px;
  font-weight: 300;
  color:#3895ea;
  text-align: center;
}

footer .contacto .formulario{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"],
footer .contacto .formulario textarea{
  border:2px solid #cecece;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 20px;
  color:#a4a4a4;
}

footer .contacto .formulario input[type="text"]:focus,
footer .contacto .formulario input[type="email"]:focus,
footer .contacto .formulario textarea:focus{
    border: 2px solid #3895ea;
}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"]{
  width: 49%;
  margin-bottom:15px;
  padding:20px;
}

footer .contacto .formulario textarea{
  flex-shrink: 1;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100px;
  max-height: 250px;
  min-height: 100px;
  margin-bottom: 10px;
}

footer .contacto .formulario .boton{
  padding:20px;
  width: 150px;
  min-width: 150px;
  color:#fff;
  background: #3895ea;
  margin:20px;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  cursor: pointer;
  margin:auto;
}

footer .contacto .formulario .boton:hover{
  background: #387bea;
}

footer .redes{
  padding: 60px 0;
  background: #1e2b38;
}

footer .redes .contenedor{
  display: flex;
  justify-content: center;
  width: 80%;
}

footer .redes a{
  display:block;
  width: 80px;
  text-align: center;
  padding:15px 0;
  font-size: 30px;
  margin:auto;
  border-radius: 3px;
  color:#fff;
  transition: background .3s ease;
}

footer .redes .github:hover{
  background: #171515;

}

footer .redes .linkedin:hover{
  background: #0a66c2;
}

footer .redes .instagram:hover{
  background: #405de6;
}

footer .redes .youtube:hover{
  background: #ff0000;
}

/*MEDIA QUERIES*/

@media screen and (max-width:800px) {
  header .menu{
    text-align: center;
  }

  header .contenedor-texto{
    margin:120px 0;
    font-size: .80em;
  }

  .main .acerca-de .foto img{
    width: 180px;
    height: auto;
    margin-top: 30px;
  }

  .trabajos .contenedor .contenedor-trabajos .trabajo{
    width: 46%;
  }
}



@media screen and (max-width:500px) {
  header .contenedor-texto .texto .nombre{
    font-size: 35px;
  }

  .main .acerca-de .foto img{
    width: 115px;
    height: auto;
    margin-top: 60px;
  }

  header .contenedor-texto .texto .profesion{
    font-size: 25px;
  }

  footer .redes .contenedor{
    flex-wrap: wrap;
  }
}
